*.o
*.ba
*.bo
*.pyc
*.bak
*.swp
*.vscode

.sconsign.dblite
antlr4.jar
antlr4/
build/
.vagrant/

minispec-combine
msc

synth/yosys

visual/antlr4
visual/sample.html
visual/elk/elkInput.txt
visual/elk/elkOutput.txt

# Documentation
*.aux
*.log
*.bbl
*.blg
docs/reference/metadata.txt
!docs/reference/figures/Makefile
!docs/reference/figures/figures.*
docs/reference/figures/*
